---
layout: default
---

<div class="home">
  <div class="container">

    <div class="row">
        <div class="col-lg-7">
            <h1 class="page-heading">Posts</h1>

            {% for post in paginator.posts %}
            <div class="content-block">
                <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
                <div class="content">
                    {{ post.content }}
                </div>
            </div>
            {% endfor %}

            {% if paginator.total_pages > 1 %}
            <div class="pagination">
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                {% else %}
                <span>&laquo; Prev</span>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <em>{{ page }}</em>
                {% elsif page == 1 %}
                <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                {% else %}
                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                {% else %}
                <span>Next &raquo;</span>
                {% endif %}
            </div>
            {% endif %}

            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </div>

        <div class="col-lg-4">
            <h1 class="page-heading">Camp Information Station</h1>
            <div class="content-block">
                <div class="content">
                  <h3>Payment Dates</h3>
                  <ul class="list-unstyled">
                    <li>February 14th:
                      <ul>
                        <li>Early Depost Due ($75)</li>
                      </ul>
                    </li> 
                    <li>May 15th:
                      <ul>
                        <li>Total Amount Due ($150 with early deposit; $200 without early deposit).</li>
                      </ul>
                    </li>
                  </ul>
                <h3>Camp Dates</h3>
                <ul class="list-unstyled">
                  <li>Middle School:
                    <ul>
                      <li>June 20th — June 24th</li>
                    </ul>
                  </li>
                  <li>High School: 
                    <ul>
                      <li>July 8th — July 12th</li>
                    </ul>
                  </li>
                </ul>
                <h3>Other Important Links</h3>
                <ul class="list-unstyled">
                  <li>Online Payment: 
                    <ul class="list-unstyled">
                     <li>                      
                        <a href="https://form.jotform.com/60245742599969" title="Online Payment" alt="online payment" class="camp-link">
                          <div class="camp-button">PAYMENT</div>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>Camp Registration/Medical Release/POIs:
                    <ul class="list-unstyled">
                      <li>
                        <a href="https://mail.crossingsministries.org/dandy2/Participant/Login" title="Camp Registration" alt="Camp Registration" class="camp-link">
                          <div class="camp-button">REGISTER</div>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

            <h1 class="page-heading">Calendar</h1>
            <div class="content-block">
                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=316&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=o4lvvjg6vtiekmsu7a9e7o8gi4%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FNew_York" style="border-width:0" width="296" height="316" frameborder="0" scrolling="no"></iframe>
            </div>

        </div>

      </div>

    </div>
</div>