<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2>
 -->
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-4">
        <h1 class="page-heading">Paul and Drew's Contact Info</h1>
        <ul class="list-unstyled contact-list">
          <li>
              <address>
                <strong>Paul Cook</strong><br>
                Email: <a href="mailto:pcook@naobc.org?Subject=Hello" target="_top">pcook@naobc.org</a>
              </address>
          </li>
                         
          <li>
              <address>
                <strong>Drew Smith</strong><br>
                Email: <a href="mailto:dsmith@naobc.org?Subject=Hello" target="_top">dsmith@naobc.org</a>
              </address>
          </li>
        </ul>
        <ul class="contact-list">
          <li>{{ site.description }}</li>
        </ul>

      </div>

      <div class="footer-col footer-col-4">
        <!-- <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul> -->
      </div>

      <div class="footer-col footer-col-4">
    </div>

  </div>

</footer>
